@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* added font */
body {
  font-family: "Playwrite NO", cursive;
  font-weight: 400;
  font-style: normal;
}